@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

.mellow-cream{
   background-color: #F5E3E0;
}
.mellow-brown{
   background-color: #3A3238;
}
.mellow-pink{
color: #d282a6;
}